<%= form_for(@post) do |f| %>
     <div class="field">
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>
    
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>