<h1><%= @post.title %></h1>
<h4>Author: <%=@post.author %></h4>
<p>
     <strong>Post:</strong> 
     <p><%=@post.content%></p>
</p>

<div id="comments">
  <h4>Comments:</h4>
  <%= render @post.comments%>
  <h3>Add Comment:</h3>
  <%= render partial: "comments/form", locals: {comment: @post.comments.new} %>
</div>

<%= link_to 'Back', posts_path %>
<%= link_to 'Edit', edit_post_path %>
<%= link_to 'Delete', @post, method: :delete %>
